/* Add your other styles here */
.prev-arrow,
.next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  padding: 8px;
  border: none;
  cursor: pointer;
  z-index: 1; 
  background-color:rgba(132, 54, 54, 0.8);
  width: 30px; 
  height: 180px; 
}

.prev-arrow {
  left: 0px; 
}

.next-arrow {
  right: 0px; 
}
